<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather">

    <link rel="stylesheet" href="../css/styles.css" />

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Get some help here</p>
    </div>

    {{>footer}}
</body>

</html>